body{
  margin: 0;
  font-family: segoe UI;
}
.header-area{
  background-color: #24222F;
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
  text-align: center;
}
.container{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.header-area img{
  width: 100px;
  height: auto;
}
.header-area h1{
  text-transform: uppercase;
  font-size: 40px;
}
.header-area p{
  font-size: 14px;
}
.header-area a{
  color: white;
  width: 12px;
}
